# Conception d'un DataMart sur l'ensemble des communes de Mayotte

## Contexte

L’objectif de ce projet est de construire un **DataMart** regroupant des données sur les communes de **Mayotte** afin d’analyser les conditions de logement, l’accès aux services essentiels, l’emploi, la précarité financière et la scolarisation.  

Il permettra de centraliser des informations clés telles que les types de logements, l’accès à l’eau et à l’électricité, la présence d’infrastructures, le taux de chômage, la pauvreté, ainsi que le niveau de formation des habitants.  

En s’appuyant sur des sources officielles, cet outil facilitera la prise de décision des acteurs locaux en fournissant des indicateurs précis sur la situation socio-économique et urbaine du territoire.

## Exploration des fichiers de données

En explorant les fichiers Excel, on peut déceler plusieurs feuilles/tables.

Pour le fichier "Data-Logement", on a les logements par village de résidence enrichi avec :  
- Les catégories de logement et leurs nombres
- Les aspects du bâti
- Les types de construction

Ensuite, pour le fichier "Data-résidence-accessibilité", on a les résidences principales par village enrichi avec :
- La nature du sol
- La taille des ménages
- L'accessibilité par voir carossable
- L'approvisionnement en eau
- La présence d'électricité dans logement
- L'évacuation des eaux usées
- La présence de bac à ordures
- La connexion à internet
- Le confort sanitaire de base

Et enfin, 4 fichiers Excel concernant par commune :
- La formation et la scolarisation
- La précarité dans les logements
- La précarité financière
- Le chômage et l'emploi

Pour pouvoir construire ce DataMart, on n'aura pas besoin de toutes ces feuilles. 
 
On va donc exclure :
- Les logements par village de résidence enrichi avec les aspects du bâti
- Les logements par village de résidence enrichi avec les types de construction
- Les résidences principales par village enrichi avec l'évacuation des eaux usées

Entre tous ces fichiers, on décèle deux clés/identifiants. Le code commune pour les communes et le code village associé au village de résidence.

## Préparation des fichiers de données

Pour gagner du temps lors de la jointure des fichiers sous Python, j'ai manipulé les fichiers Excel pour faire en sorte que lorsque je vais lire le fichier avec ses feuilles, je n'aurais pas besoin de spécifier les cellules que je veux.  
Donc j'ai dû retirer le titre des feuilles et les commentaires en bas des feuilles.

Pour la plupart des feuilles de données dans le fichier "Data-Logement", j'ai décidé de retirer les colonnes "Ensemble" et "Ensemble%" car c'est simplement le total des données pour chaque feuille.  
On peut donc facilement retrouver ces chiffres.

## Importation et jointures des fichiers sous Python

On a besoin de la librairie Pandas pour importer et manipuler les données.

In [ ]:
import pandas as pd

Vu qu'on a les données sur les communes et sur les villages, on va faire deux sous-datamarts pour ensuite en les fusionner et en avoir qu'un.

## Importation des données

In [54]:
# 1
dfLogement = pd.read_excel("data/Data-Logement.xls", "LOG1")
dfResidence_natSol = pd.read_excel("data/Data-residence_accessibilite.xlsx", "PRINC2")
dfResidence_menages = pd.read_excel("data/Data-residence_accessibilite.xlsx", "PRINC4")
dfResidence_carossable = pd.read_excel("data/Data-residence_accessibilite.xlsx", "PRINC5")
dfResidence_eau = pd.read_excel("data/Data-residence_accessibilite.xlsx", "PRINC8")
dfResidence_elec = pd.read_excel("data/Data-residence_accessibilite.xlsx", "PRINC10")
dfResidence_ordures = pd.read_excel("data/Data-residence_accessibilite.xlsx", "PRINC13")
dfResidence_internet = pd.read_excel("data/Data-residence_accessibilite.xlsx", "PRINC20")
dfResidence_sanitaire = pd.read_excel("data/Data-residence_accessibilite.xlsx", "PRINC7")

In [55]:
# 2
dfScolarisation = pd.read_excel("data/Table-Formation-scolarisation.xlsx")
dfPreLogement = pd.read_excel("data/Table_precarite_logement.xlsx")
dfPreFinanciere = pd.read_excel("data/Table_Precarite_Financiere.xlsx")
dfChomage = pd.read_excel("data/Table_emploi_chomage.xlsx")

## Création des deux sous-datamarts

In [45]:
dataMart1 = pd.merge(dfLogement, dfResidence_natSol, how="inner", on=["Code village", "Village de résidence"])
dataMart1 = pd.merge(dataMart1, dfResidence_menages, how="inner", on=["Code village", "Village de résidence"])
dataMart1 = pd.merge(dataMart1, dfResidence_carossable, how="inner", on=["Code village", "Village de résidence"])
dataMart1 = pd.merge(dataMart1, dfResidence_eau, how="inner", on=["Code village", "Village de résidence"])
dataMart1 = pd.merge(dataMart1, dfResidence_elec, how="inner", on=["Code village", "Village de résidence"])
dataMart1 = pd.merge(dataMart1, dfResidence_ordures, how="inner", on=["Code village", "Village de résidence"])
dataMart1 = pd.merge(dataMart1, dfResidence_internet, how="inner", on=["Code village", "Village de résidence"])
dataMart1 = pd.merge(dataMart1, dfResidence_sanitaire, how="inner", on=["Code village", "Village de résidence"])
dataMart1 = dataMart1.astype({"Code village": str})
print(dataMart1)

   Code village Village de résidence  Résidence principale  \
0      97601001                Acoua                   927
1      97601002          Mtsangadoua                   383
2      97602001           Bandraboua                   664
3      97602002             Handréma                   398
4      97602003         Mtsangamboua                   298
..          ...                  ...                   ...
67     97616002             Mangajou                   387
68     97617001             Tsingoni                   837
69     97617002               Mroalé                   225
70     97617003              Combani                  1582
71     97617004             Miréréni                   806

    Résidence principale%  Logement occasionnel  Logement occasionnel%  \
0               81.458699                     9               0.790861
1               69.384058                     5               0.905797
2               79.807692                    17               2.043269
3               84.680851                     3               0.638298
4               85.142857                     2               0.571429
..                    ...                   ...                    ...
67              84.497817                     0               0.000000
68              80.172414                     6               0.574713
69              87.548638                     2               0.778210
70              90.711009                     2               0.114679
71              97.460701                     1               0.120919

    Résidence secondaire  Résidence secondaire%  Logement vacant  \
0                      3               0.263620              199
1                      3               0.543478              161
2                      7               0.841346              144
3                     35               7.446809               34
4                     11               3.142857               39
..                   ...                    ...              ...
67                    18               3.930131               53
68                     5               0.478927              196
69                     1               0.389105               29
70                    18               1.032110              142
71                     3               0.362757               17

    Logement vacant%  ...  Absence bac ordure  Absence bac ordure%  \
0          17.486819  ...            554.5840            59.825674
1          29.166667  ...            182.1390            47.555875
2          17.307692  ...            166.0140            25.002108
3           7.234043  ...            127.0000            31.909548
4          11.142857  ...             93.7945            31.474664
..               ...  ...                 ...                  ...
67         11.572052  ...            323.0050            83.463824
68         18.773946  ...            578.0590            69.063202
69         11.284047  ...             94.0077            41.781200
70          8.142202  ...           1043.5700            65.965234
71          2.055623  ...            650.2010            80.670099

    Présence internet  Présence internet%  Absence internet  \
0            286.9330           30.952859           640.067
1            104.8220           27.368668           278.178
2            201.8410           30.397741           462.159
3            112.0000           28.140704           286.000
4             80.2537           26.930772           217.746
..                ...                 ...               ...
67            83.9997           21.705349           303.000
68           325.2410           38.857945           511.759
69            78.9815           35.102889           146.019
70           408.1660           25.800632          1173.830
71            75.0415            9.310360           730.958

    Absence internet%  Sans le confort sanitaire de base   \
0           69.047141                             433.783
1           72.631332                             155.066
2           69.602259                             315.049
3           71.859296                             171.000
4           73.069128                             110.245
..                ...                                 ...
67          78.294574                             182.042
68          61.142055                             335.133
69          64.897333                             124.998
70          74.199115                            1093.500
71          90.689578                             677.291

    Sans le confort sanitaire de base %  Avec le confort sanitaire de base   \
0                             46.794283                             493.217
1                             40.487206                             227.934
2                             47.447139                             348.951
3                             42.964824                             227.000
4                             36.994966                             187.755
..                                  ...                                 ...
67                            47.039276                             204.958
68                            40.039785                             501.867
69                            55.554667                             100.002
70                            69.121365                             488.504
71                            84.031141                             128.709

    Avec le confort sanitaire de base %
0                             53.205717
1                             59.512794
2                             52.552861
3                             57.035176
4                             63.005034
..                                  ...
67                            52.960724
68                            59.960215
69                            44.445333
70                            30.878887
71                            15.968859

[72 rows x 53 columns]

In [46]:
dataMart2 = pd.merge(dfScolarisation, dfPreLogement, how="inner", on="COMMUNE")
dataMart2 = pd.merge(dataMart2, dfPreFinanciere, how="inner", on="COMMUNE")
dataMart2 = pd.merge(dataMart2, dfChomage, how="inner", on="COMMUNE")
print(dataMart2)

                COMMUNE  \
0           Acoua (601)
1      Bandraboua (602)
2        Bandrele (603)
3          Bouéni (604)
4         Chiconi (605)
5       Chirongui (606)
6         Dembeni (607)
7        Dzaoudzi (608)
8       Kani-Kéli (609)
9         Koungou (610)
10      Mamoudzou (611)
11      Mtsamboro (612)
12  M'tsangamouji (613)
13       Ouangani (614)
14       Pamandzi (615)
15           Sada (616)
16       Tsingoni (617)
17              MAYOTTE

    Nombre d'enfants bénéficiaires de l'Allocation de Rentrée Scolaire (ARS) au 31 décembre 2017   \
0                                                 883
1                                                1680
2                                                1160
3                                                 980
4                                                1434
5                                                1166
6                                                1191
7                                                2106
8                                                 799
9                                                2520
10                                               5581
11                                               1466
12                                                834
13                                                798
14                                                972
15                                               1040
16                                               1114
17                                              25724

    Nombre de personnes de 15 ans ou plus non scolarisés et  possédant aucun diplôme   \
0                                             1501.43
1                                             4684.90
2                                             3309.40
3                                             1601.89
4                                             2459.21
5                                             2691.41
6                                             5181.79
7                                             5101.63
8                                             1593.77
9                                             9477.51
10                                           20582.04
11                                            2146.60
12                                            2161.68
13                                            3299.20
14                                            3094.35
15                                            3271.76
16                                            4248.77
17                                           76407.34

    Part des 15 ans ou plus non scolarisés ne possédant aucun diplôme   \
0                                            0.500922
1                                            0.620997
2                                            0.582980
3                                            0.431523
4                                            0.501612
5                                            0.525033
6                                            0.613608
7                                            0.492877
8                                            0.468942
9                                            0.554868
10                                           0.517783
11                                           0.479349
12                                           0.565241
13                                           0.598994
14                                           0.443216
15                                           0.496549
16                                           0.538036
17                                           0.538036

    Effectif des 15-34 ans non scolarisés ne possédant aucun diplôme   \
0                                              363.19
1                                             2133.97
2                                             1354.57
3                                              349.17
4                                              705.43
5                                              966.43
6                                             2444.42
7                                             1810.39
8                                              417.74
9                                             4476.14
10                                            8613.08
11                                             509.12
12                                             661.90
13                                            1381.72
14                                             993.95
15                                            1227.32
16                                            1864.08
17                                           30272.62

    Proportion des 15-34 ans non scolarisés ne possédant aucun diplôme   \
0                                            0.270589
1                                            0.496832
2                                            0.455632
3                                            0.213566
4                                            0.297477
5                                            0.369966
6                                            0.496596
7                                            0.342807
8                                            0.262748
9                                            0.444809
10                                           0.391807
11                                           0.249023
12                                           0.381754
13                                           0.456817
14                                           0.310119
15                                           0.379849
16                                           0.413177
17                                           0.413177

    Nombre d'allocataires d'aides au logement  \
0                                          31
1                                         270
2                                          86
3                                         169
4                                          89
5                                         186
6                                          76
7                                         290
8                                          65
9                                         340
10                                       1615
11                                         29
12                                         48
13                                        107
14                                        163
15                                        181
16                                        220
17                                       3965

    Part d'allocataires d'aides au logement pour 100 ménages  \
0                                            0.006576
1                                            0.026648
2                                            0.010907
3                                            0.026398
4                                            0.012628
5                                            0.023114
6                                            0.006958
7                                            0.020264
8                                            0.013211
9                                            0.012836
10                                           0.028194
11                                           0.003716
12                                           0.007602
13                                           0.010881
14                                           0.016478
15                                           0.017754
16                                           0.021045
17                                           0.018646

    Nombre de logements sociaux  \
0                             0
1                             0
2                             0
3                             0
4                             0
5                             0
6                             0
7                            23
8                             0
9                            18
10                          207
11                            0
12                            0
13                            0
14                           27
15                            0
16                            0
17                          275

    Part de logements sociaux pour 100 habitations principales  ...  \
0                                            0.000000           ...
1                                            0.000000           ...
2                                            0.000000           ...
3                                            0.000000           ...
4                                            0.000000           ...
5                                            0.000000           ...
6                                            0.000000           ...
7                                            0.007000           ...
8                                            0.000000           ...
9                                            0.003000           ...
10                                           0.013864           ...
11                                           0.000000           ...
12                                           0.000000           ...
13                                           0.000000           ...
14                                           0.009847           ...
15                                           0.000000           ...
16                                           0.000000           ...
17                                           0.006000           ...

   Nombre de demandeurs d’emploi (cat. A B) \nde 25 à 49 ans  \
0                                                  19
1                                                  24
2                                                  24
3                                                  28
4                                                  24
5                                                  16
6                                                  10
7                                                  30
8                                                  17
9                                                  37
10                                                148
11                                                 21
12                                                 18
13                                                 31
14                                                 31
15                                                 16
16                                                 32
17                                                526

    Nombre de demandeurs d’emploi (cat. A B) \nde 50 ans ou plus  \
0                                                  <5
1                                                  <5
2                                                  <5
3                                                  <5
4                                                  <5
5                                                  <5
6                                                  <5
7                                                   9
8                                                  <5
9                                                  <5
10                                                 20
11                                                 <5
12                                                 <5
13                                                 <5
14                                                 <5
15                                                 <5
16                                                 <5
17                                                 63

    Nombre de  demandeurs d'emploi (cat. A B)\nHommes  \
0                                                   7
1                                                  16
2                                                  13
3                                                  16
4                                                   9
5                                                   6
6                                                  10
7                                                  22
8                                                   8
9                                                  25
10                                                 87
11                                                 14
12                                                  9
13                                                 14
14                                                 13
15                                                  6
16                                                 16
17                                                291

    Nombre de demandeurs d’emploi (cat. A B) \nde moins de 25 ans\nHommes  \
0                                                  <5
1                                                  <5
2                                                  <5
3                                                  <5
4                                                  <5
5                                                  <5
6                                                  <5
7                                                   6
8                                                  <5
9                                                   7
10                                                 13
11                                                 <5
12                                                 <5
13                                                 <5
14                                                 <5
15                                                 <5
16                                                 <5
17                                                 51

    Nombre de demandeurs d’emploi (cat. A B) \nde 25 à 49 ans\nHommes  \
0                                                   6
1                                                  13
2                                                   9
3                                                  13
4                                                   9
5                                                  <5
6                                                   6
7                                                  12
8                                                  <5
9                                                  18
10                                                 64
11                                                 11
12                                                  6
13                                                 14
14                                                 11
15                                                  6
16                                                 15
17                                                221

    Nombre de demandeurs d’emploi (cat. A B) \nde 50 ans ou plus\nHommes  \
0                                                  <5
1                                                  <5
2                                                  <5
3                                                  <5
4                                                  <5
5                                                  <5
6                                                  <5
7                                                  <5
8                                                  <5
9                                                  <5
10                                                 10
11                                                 <5
12                                                 <5
13                                                 <5
14                                                 <5
15                                                 <5
16                                                 <5
17                                                 19

    Nombre de  demandeurs d'emploi (cat. A B)\nFemmes  \
0                                                  15
1                                                  14
2                                                  21
3                                                  23
4                                                  21
5                                                  20
6                                                   9
7                                                  30
8                                                  24
9                                                  38
10                                                108
11                                                 21
12                                                 14
13                                                 21
14                                                 24
15                                                 14
16                                                 23
17                                                440

    Nombre de demandeurs d’emploi (cat. A B) \nde moins de 25 ans\nFemmes  \
0                                                   2
1                                                   2
2                                                   5
3                                                   3
4                                                   3
5                                                   5
6                                                   5
7                                                   7
8                                                   8
9                                                  14
10                                                 14
11                                                  9
12                                                  2
13                                                  4
14                                                  0
15                                                  3
16                                                  5
17                                                 91

    Nombre de demandeurs d’emploi (cat. A B) \nde 25 à 49 ans\nFemmes  \
0                                                  13
1                                                  11
2                                                  15
3                                                  15
4                                                  15
5                                                  12
6                                                   4
7                                                  18
8                                                  13
9                                                  19
10                                                 84
11                                                 10
12                                                 12
13                                                 17
14                                                 20
15                                                 10
16                                                 17
17                                                305

    Nombre de demandeurs d’emploi (cat. A B) \nde 50 ans ou plus\nFemmes
0                                                  <5
1                                                  <5
2                                                  <5
3                                                  <5
4                                                  <5
5                                                  <5
6                                                  <5
7                                                  <5
8                                                  <5
9                                                  <5
10                                                 10
11                                                 <5
12                                                 <5
13                                                 <5
14                                                 <5
15                                                 <5
16                                                 <5
17                                                 44


## Fusion des deux sous-datamarts

Pour pouvoir les fusionner, on doit créer une clé commune.

Pour cela, on peut créer une colonne "code commune" dans les deux sous-datamarts avec la colonne "code village" et la colonne "COMMUNE".

In [47]:
dataMart1.insert(1, "Code commune", dataMart1["Code village"].str.slice(2,5))
dataMart2.insert(1, "Code commune", dataMart2["COMMUNE"].str.slice(start=-4, stop=-1))

In [52]:
datamart = pd.merge(dataMart2, dataMart1, how="inner", on="Code commune")
datamart.insert(datamart.columns.get_loc("Code commune") + 1, "Village de résidence", datamart.pop("Village de résidence"))
datamart.insert(datamart.columns.get_loc("Village de résidence") + 1, "Code village", datamart.pop("Code village"))
print(datamart)

             COMMUNE Code commune Village de résidence Code village  \
0        Acoua (601)          601                Acoua     97601001
1        Acoua (601)          601          Mtsangadoua     97601002
2   Bandraboua (602)          602           Bandraboua     97602001
3   Bandraboua (602)          602             Handréma     97602002
4   Bandraboua (602)          602         Mtsangamboua     97602003
..               ...          ...                  ...          ...
67        Sada (616)          616             Mangajou     97616002
68    Tsingoni (617)          617             Tsingoni     97617001
69    Tsingoni (617)          617               Mroalé     97617002
70    Tsingoni (617)          617              Combani     97617003
71    Tsingoni (617)          617             Miréréni     97617004

    Nombre d'enfants bénéficiaires de l'Allocation de Rentrée Scolaire (ARS) au 31 décembre 2017   \
0                                                 883
1                                                 883
2                                                1680
3                                                1680
4                                                1680
..                                                ...
67                                               1040
68                                               1114
69                                               1114
70                                               1114
71                                               1114

    Nombre de personnes de 15 ans ou plus non scolarisés et  possédant aucun diplôme   \
0                                             1501.43
1                                             1501.43
2                                             4684.90
3                                             4684.90
4                                             4684.90
..                                                ...
67                                            3271.76
68                                            4248.77
69                                            4248.77
70                                            4248.77
71                                            4248.77

    Part des 15 ans ou plus non scolarisés ne possédant aucun diplôme   \
0                                            0.500922
1                                            0.500922
2                                            0.620997
3                                            0.620997
4                                            0.620997
..                                                ...
67                                           0.496549
68                                           0.538036
69                                           0.538036
70                                           0.538036
71                                           0.538036

    Effectif des 15-34 ans non scolarisés ne possédant aucun diplôme   \
0                                              363.19
1                                              363.19
2                                             2133.97
3                                             2133.97
4                                             2133.97
..                                                ...
67                                            1227.32
68                                            1864.08
69                                            1864.08
70                                            1864.08
71                                            1864.08

    Proportion des 15-34 ans non scolarisés ne possédant aucun diplôme   \
0                                            0.270589
1                                            0.270589
2                                            0.496832
3                                            0.496832
4                                            0.496832
..                                                ...
67                                           0.379849
68                                           0.413177
69                                           0.413177
70                                           0.413177
71                                           0.413177

    Nombre d'allocataires d'aides au logement  ...  Absence bac ordure  \
0                                          31  ...            554.5840
1                                          31  ...            182.1390
2                                         270  ...            166.0140
3                                         270  ...            127.0000
4                                         270  ...             93.7945
..                                        ...  ...                 ...
67                                        181  ...            323.0050
68                                        220  ...            578.0590
69                                        220  ...             94.0077
70                                        220  ...           1043.5700
71                                        220  ...            650.2010

    Absence bac ordure%  Présence internet Présence internet%  \
0             59.825674           286.9330          30.952859
1             47.555875           104.8220          27.368668
2             25.002108           201.8410          30.397741
3             31.909548           112.0000          28.140704
4             31.474664            80.2537          26.930772
..                  ...                ...                ...
67            83.463824            83.9997          21.705349
68            69.063202           325.2410          38.857945
69            41.781200            78.9815          35.102889
70            65.965234           408.1660          25.800632
71            80.670099            75.0415           9.310360

    Absence internet  Absence internet%  Sans le confort sanitaire de base   \
0            640.067          69.047141                             433.783
1            278.178          72.631332                             155.066
2            462.159          69.602259                             315.049
3            286.000          71.859296                             171.000
4            217.746          73.069128                             110.245
..               ...                ...                                 ...
67           303.000          78.294574                             182.042
68           511.759          61.142055                             335.133
69           146.019          64.897333                             124.998
70          1173.830          74.199115                            1093.500
71           730.958          90.689578                             677.291

    Sans le confort sanitaire de base %  Avec le confort sanitaire de base   \
0                             46.794283                             493.217
1                             40.487206                             227.934
2                             47.447139                             348.951
3                             42.964824                             227.000
4                             36.994966                             187.755
..                                  ...                                 ...
67                            47.039276                             204.958
68                            40.039785                             501.867
69                            55.554667                             100.002
70                            69.121365                             488.504
71                            84.031141                             128.709

    Avec le confort sanitaire de base %
0                             53.205717
1                             59.512794
2                             52.552861
3                             57.035176
4                             63.005034
..                                  ...
67                            52.960724
68                            59.960215
69                            44.445333
70                            30.878887
71                            15.968859

[72 rows x 85 columns]

## Export du DataMart sous Excel

In [58]:
datamart.to_excel("DataMart.xlsx", index = False)